# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# PyCharm project settings
.idea/
.vscode/

# Test cache
.pytest_cache/

# Linters / type-checkers
.ruff_cache/
.mypy_cache/

# Build artifacts
build/
dist/
release/
*.zip

# PyInstaller (optional leftovers)
*.spec.bak
