# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# PyCharm project settings
.idea/

# Test cache
pytest_cache/

# Linters / type-checkers
.ruff_cache/
.mypy_cache/

# Build artifacts
